{% macro renderFooter() %}
    <div class="footer">
        <div style="margin-bottom: 5px;">
            {{footerHTML | safe}}
        </div>
        <div style="margin-bottom: 3px;">
            <span><a href="https://github.com/Faleidel/moontreeproject">This project is open source on github</a></span>
        </div>
        <div>
            <div style="font-size: 0.7em">Menu and arrow icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
            <div style="font-size: 0.7em">Iron tree logo made by Mélissa Labelle-Côter</div>
        </div>
    </div>
{% endmacro %}
