{% extends "views/page.njk" %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="lightSection" style="padding-left: 40px; padding-right: 40px; max-width: 1000px; margin: auto;">
        <h1>A branch is a community</h1>
        <p>The goal of a branch is to give a group a place to talk and share over a common interest. Someone could make a branch about gardenings, pokemons, d&d or cooking.</p>
        <p>Branch admins decide what can be posted and have the power to delete threads and comments. They should act FOR there users and all actions they take will be logged and made public</p>
        <div class="lightSection formBox" style="box-shadow: 0 0 9px rgba(0,0,0,0.2); margin-bottom: 40px; margin-top: 40px; max-width: 500px;">
            <div style="font-size: 1.7em; margin-bottom: 10px;">New branch</div>
            <form action="/newBranch" method="POST" style="width: 90%;">
                <div style="width: 100%">Your branch name. Must be URL frendly.</div>
                <input style="margin-bottom: 10px;" type="input" placeholder="branch name" name="name"/>
                <div>Your branch description. It will be displayed on the right side panel. You can use the markdown synthax.</div>
                <textarea rows="10" style="margin-bottom: 10px; width: 100%;" placeholder="branch description" name="description"></textarea>
                <input style="width: 100px;" type="submit" value="Create"/>
            </form>
        </div>
    </div>
{% endblock %}
