{% macro render() %}
    <div style="display: flex; justify-content: space-around">
        <img style="margin-top: 25px; height: 34px; max-width: 100%;" src="/static/Vintage-Decorative-Divider.svg"></img>
    </div>
{% endmacro %}
