{% extends "views/page.njk" %}

{% block head %}
    <style>
        .threadTitle {
            font-size: 40px;
            line-height: 34px;
        }
        
        .pageContent {
            padding: 40px;
        }
        
        .branchDescription {
            margin-top: 40px;
        }
    </style>
{% endblock %}

{% block footer %}
{% endblock %}

{% macro renderComment(comment, likes, liked) %}
    <div class="content">{{utils.renderMarkdown(comment.content) | safe}}</div>
    <a href="/user/{{utils.renderUserName(comment.author)}}" class="author">{{utils.renderUserName(comment.author)}}</a>
    <span style="font-size: 0.8em">
        <span>likes: <span id="{{comment.id}}_likes">{{likes}}</span></span>
        {% if userName %}
            <span id="{{comment.id}}_likeControls" class="{% if not liked and userName %}canLike{% endif %}">
                <span class="likeButton linkButton" toLike="{{comment.id}}">like</span>
                <span class="unlikeButton linkButton" toUnlike="{{comment.id}}">unlike</span>
            </span>
        {% endif %}
    </span>
    {% if isAdmin or isBranchAdmin %}
        <div class="smallText" style="display: inline-block">
            <form action="/adminRemoveComment" method="POST">
                <input type="hidden" name="branchName" value="{{branch.name}}"/>
                <input type="hidden" name="id" value="{{comment.id}}"/>
                <input type="submit" class="linkButton" style="box-shadow: none; color: black !important;" value="Delete this comment"/>
            </form>
        </div>
    {% endif %}
    {% if userName %}
        {% if user.name == comment.author %}
            <span class="linkButton smallText" toDisplay="{{comment.id}}_editForm">edit</span>
            <form action="/newComment" method="POST" id="{{comment.id}}_editForm" style="display: none;">
                <input type="hidden" name="backUrl" value="{{thread.id}}"/>
                <input type="hidden" name="id" value="{{comment.id}}"/>
                <textarea style="margin-bottom: 10px;" name="content">{{comment.content}}</textarea>
                <div style="margin-bottom: 10px;">
                    <input style="display: inline-block" type="submit" value="Save"/>
                    <input style="display: inline-block" type="button" toHide="{{comment.id}}_editForm" value="cancel"/>
                </div>
            </form>
        {% endif %}
        <span class="linkButton smallText" toDisplay="{{comment.id}}_answerForm">answer</span>
        <form id="{{comment.id}}_answerForm" class="newComment" action="/newComment" method="POST" style="display: none">
            <textarea style="width: 100%; height: 65px; max-width: 500px;" name="content"></textarea>
            <input type="hidden" name="objectId" value="{{utils.encodeURIComponent(comment.id)}}"/>
            <input type="hidden" name="backUrl" value="{{thread.id}}">
            <div style="margin-bottom: 10px; margin-top: 10px;">
                <input type="submit" style="display: inline-block" value="send"/>
                <input style="display: inline-block" type="button" toHide="{{comment.id}}_answerForm" value="cancel"/>
            </div>
        </form>
    {% endif %}
{% endmacro %}

{% macro renderTree(childrens) %}
    {% for comment in childrens %}
        <div class="comment">
            {{renderComment(comment.comment, comment.likes, comment.liked)}}
            <div class="comments" style="margin-left: 10px;">
                {% for tree in comment.childrens %}
                    <div class="comment">
                        {{renderComment(tree.comment, tree.likes, tree.liked)}}
                        <div class="comments" style="margin-left: 10px;">
                            {{renderTree(tree.childrens)}}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% block header %}
    <div class="pageContent" style="padding-bottom: 20px;">
        <h1 style="margin: 0; padding: 0">{{serverName}}</h1>
        
        <div style="display: flex; justify-content: space-around">
            <img style="margin-top: 25px; height: 34px; max-width: 100%;" src="/static/Vintage-Decorative-Divider.svg"></img>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="threadPageContent">
        <div class="leftPane">
            <div class="">
                <div style="display: flex; justify-content: space-between; align-items: flex-start;">
                    <div class="threadTitle">
                        {{thread.title}}
                    </div>
                    <div style="text-align: right">
                        <div>
                            This thread was posted on branch
                            <a href="/branch/{{thread.branch}}" style="display: inline-block">{{thread.branch}}</a>
                            by
                            <a href="/user/{{utils.renderUserName(thread.author)}}" class="author">{{utils.renderUserName(thread.author)}}</a>
                        </div>
                        <div id="{{thread.id}}_likeControls" class="likeCount {% if not commentTree.liked and userName %}canLike{% endif %}">
                            <div>This post has <span id="{{thread.id}}_likes">{{commentTree.likes}} like(s)</span></div>
                            {% if userName %}
                                <div class="likeButton linkButton" toLike="{{thread.id}}">-> add a like</div>
                                <div class="unlikeButton linkButton" toUnLike="{{thread.id}}">-> remove a like</span></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                
                <div class="threadContent">
                    {{utils.renderMarkdown(thread.content) | safe}}
                </div>
                {% if thread.media %}
                    {% if thread.media.type == "image" %}
                        <img style="max-width: 100%" src="{{thread.media.url}}"/>
                    {% elif thread.media.type == "iframe" %}
                        <iframe src="{{thread.media.url}}" allowfullscreen></iframe>
                    {% elif thread.media.type == "video" %}
                        <video style="max-width: 100%" src="{{thread.media.url}}" controls/>
                    {% endif %}
                {% endif %}
                {% if user.name == thread.author %}
                    <span class="linkButton" toDisplay="{{thread.id}}_editForm">edit</span>
                    <form action="/newThread" method="POST" id="{{thread.id}}_editForm" style="display: none;">
                        <input type="hidden" style="margin-bottom: 10px;" name="id" value="{{thread.id}}"/>
                        <textarea style="margin-bottom: 10px;" name="content">{{thread.content}}</textarea>
                        <div style="margin-bottom: 10px;">
                            <input style="display: inline-block" type="submit" value="Save"/>
                            <input style="display: inline-block" type="button" toHide="{{thread.id}}_editForm" value="cancel"/>
                        </div>
                    </form>
                {% endif %}
            </div>
            
            {% if userName %}
                <a href="#">-> add a new comment</a>
            {% endif %}
            
            <div class="" style="margin-top: 10px;">
                {{renderTree(commentTree.childrens)}}
            </div>
        </div>
        
        <div style="display: flex; justify-content: space-around">
            <img style="margin-top: 25px; height: 34px; max-width: 100%;" src="/static/Vintage-Decorative-Divider.svg"></img>
        </div>
        
        <div class="branchDescription">
            <div>Additional information on this branch:</div>
            <div class="description">
                {{utils.renderMarkdown(branch.description) | safe}}
            </div>
            
            {% if isAdmin or isBranchAdmin %}
                <div>
                    <form action="/adminRemoveComment" method="POST">
                        <input type="hidden" name="branchName" value="{{branch.name}}"/>
                        <input type="hidden" name="id" value="{{thread.id}}"/>
                        <input type="submit" value="Delete this thread"/>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
